.button-primary {
    font-size: 16px;
    font-size: 16px;
    font-family: Kanit;
    font-weight: 400;
    background: #FF8328;
    color: #101011;
    border: 2px solid #FF8328;
    border-radius: 300px;
    padding: 4px 12px;
    padding: 4px 12px;
    height: fit-content;
}

.button-primary:hover {
    background: none;
    color: #FF8328;
    border: 2px solid #FF8328;
}

.button-secondary {
    font-size: 16px;
    font-family: Kanit;
    font-weight: 400;
    background: none;
    color: #87B7FF;
    border: 2px solid #87B7FF;
    border-radius: 300px;
    padding: 6px 14px;
}

.button-nav-active {
    font-family: Kanit;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #FF8328;
    color: #FF8328;
    padding: 28px 12px;
    cursor: pointer;
    gap: 10px;
    font-size: 16px;
}

.button-nav-deactive {
    font-family: Kanit;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border-bottom: 2px solid #18191B;
    color: #848079;
    padding: 24px 12px;
    cursor: pointer;
    gap: 10px;
    font-size: 16px;
}

.button-nav-deactive:hover {
    color: #FF8328;
}

.material-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.icon {
    cursor: pointer;
}

.icon-button {
    padding: 0px;
    border-radius: 6px;
}

.icon-button:hover {
    background: #26282C;
}

.text-heading-1 {
    font-size: 32px;
    font-family: Kanit;
    font-weight: 600;
}

.text-heading-2 {
    font-size: 24px;
    font-family: Kanit;
    font-weight: 600;
}

.text-heading-sub {
    font-size: 18px;
    font-family: Kanit;
    font-weight: 600;
}

.text-normal {
    font-size: 15px;
    font-family: Pontano Sans;
    font-weight: 600;
}

.text-sm {
    font-size: 13px;
    font-family: Pontano Sans;
    font-weight: 500;
}

.font-heading {
    font-family: Kanit;
}

.font-body {
    font-family: Pontano Sans;
}

/* BACKGROUND OVERLAY */
.backgroundOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #1010118e;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.backgroundOverlay-deactive {
    display: none;
}