body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: #232428;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Material Icons Size Configuration */
.material-icons.md-20 {
  font-size: 20px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.primaryButton {
  border: none;
  background: #FF8328;
  color: #100E0D;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
