.navBarWrap {
    display: flex;
    margin: 0;
    padding: 0 20px;
    background: #18191B;
    width: 100vw !important;
    justify-content: space-between;
    border-bottom: 1px solid #2A2A2E;
    color: #F9F5ED;
}

.container,
.row {
    margin: 0 !important;
}

.navBarLeftContainer,
.navBarMidContainer,
.navBarRightContainer {
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 20px;
}

.navBarRightItm-3-Container {
    display: flex;
    justify-content: center;
    gap: 8px;
    background: #26282C;
    padding: 8px 10px;
    border-radius: 12px;
    cursor: pointer;
}