.button-primary {
    font-size: 15px;
    font-family: Kanit;
    font-weight: 500;
    background: #FF8328;
    color: #101011;
    border: 2px solid #FF8328;
    border-radius: 300px;
    padding-left: 14px;
    padding: 4px 12px;
    height: fit-content;
    transition: .17s all linear;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.button-primary:hover {
    background: none;
    color: #FF8328;
    border: 2px solid #FF8328;
}

.button-secondary {
    font-size: 15px;
    font-family: Kanit;
    font-weight: 500;
    background: none;
    color: #87B7FF;
    border: 2px solid #87B7FF;
    border-radius: 300px;
    padding: 4px 12px;
    padding-left: 14px;
    height: fit-content;
    transition: .17s all linear;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.button-secondary:hover {
    color: #f1f4fa;
    border: 2px solid #f1f4fa;
}

.button-nav-active {
    font-family: Kanit;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #FF8328;
    color: #FF8328;
    padding: 28px 12px;
    cursor: pointer;
    gap: 10px;
    font-size: 16px;
}

.button-nav-deactive {
    font-family: Kanit;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border-bottom: 2px solid #18191B;
    color: #848079;
    padding: 24px 12px;
    cursor: pointer;
    gap: 10px;
    font-size: 16px;
}

.button-nav-deactive:hover {
    color: #FF8328;
}

.material-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.icon {
    cursor: pointer;
    user-select: none;
}

.icon-button {
    padding: 0px;
    border-radius: 6px;
}

.icon-button:hover {
    background: #26282C;
}

.text-heading-1 {
    font-size: 32px;
    font-family: Kanit;
    font-weight: 600;
}

.text-heading-2 {
    font-size: 24px;
    font-family: Kanit;
    font-weight: 600;
}

.text-heading-sub {
    font-size: 18px;
    font-family: Kanit;
    font-weight: 600;
}

.text-normal {
    font-size: 14px;
    font-family: Pontano Sans;
    font-weight: 600;
}

.text-sm {
    font-size: 13px;
    font-family: Pontano Sans;
    font-weight: 500;
}

.text-button {
    color: #f9d5bb;
    font-family: Kanit;
    user-select: none;
    cursor: pointer;
}

.text-button-2 {
    font-size: 12px;
    color: #87B7FF;
    font-family: Kanit;
    user-select: none;
    cursor: pointer;
}

.font-heading {
    font-family: Kanit;
}

.font-body {
    font-family: Pontano Sans;
}

.cardProfileImage {
    height: 36px;
    width: 36px;
    border-radius: 100px;
}

.text,
textarea {
    background: #18191B;
    border: 0.75px solid #252527;
    border-radius: 10px;
    padding: 8px 12px;
    height: 45px;
    color: #F9F3ED;
    width: 100%;
    max-width: 600px;
    font-family: Pontano Sans;
    font-weight: 600;
    outline: none;
}

textarea {
    min-height: 150px !important;
}

.text:focus,
textarea:focus {
    background: none;
    border: 1px solid #FF8328;
    -webkit-box-shadow: 0px 0px 1px 4px rgba(255, 131, 40, 0.13);
    box-shadow: 0px 0px 1px 4px rgba(255, 131, 40, 0.13);
}

/* Swiper Component */
.swiper-button-next,
.swiper-button-prev {
    height: 40px !important;
    width: 40px !important;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    background: #18191B;
    border-radius: 50px;
    border: 1px solid #2A2A2E;

}

.swiper-button-prev::after {
    margin-left: -3px;
    color: #87B7FF;
    font-size: 18px !important;
    font-weight: 900 !important;
}

.swiper-button-next::after {
    margin-right: -3px;
    color: #87B7FF;
    font-size: 18px !important;
    font-weight: 900 !important;
}

.swiper-button-disabled {}

.swiper-pagination-bullet {
    width: 26px !important;
    height: 26px !important;
    padding-top: 2px;
    text-align: center;
    line-height: 20px;
    font-size: 10px !important;
    color: #9799a0;
    opacity: 1 !important;
    background: #181819ad !important;
    border-radius: 8px !important;
    font-family: Pontano Sans;
}

.swiper-pagination-bullet-active {
    color: #fff !important;
    background: #18191B !important;
    border: 1px solid #424243 !important;
}

/* BACKGROUND OVERLAY */
.backgroundOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #1010118e;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.backgroundOverlay-deactive {
    display: none;
}