.UserSummarySection {
    width: 100%;
    max-width: 560px;
    display: flex;
    justify-content: flex-end;

}

.userSummaryWrap {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 20px 80px 20px 20px;
    background: #18191B;
    width: fit-content;
    gap: 20px;
    z-index: 1;
    border-radius: 7.5px;
    outline: 1px solid #313132;
    box-shadow: 0 4px 31px rgba(237, 238, 242, 0.045);
    -webkit-box-shadow: 0 4px 31px rgba(237, 238, 242, 0.045);
    -moz-box-shadow: 0 4px 31px rgba(237, 238, 242, 0.045);
}