.sideBarContainer {
    background: #18191B;
    border: 1px solid #42424C;
    padding: 20px;
    height: 93vh;
    z-index: 9;
}

.leftSideBarContainer {
    border-radius: 0px 15px 15px 0px;
    position: absolute;
    top: 1px;
    left: 0;
    width: 300px;
    box-shadow: 8px 12px 31px rgba(242, 244, 252, 0.05);
    -webkit-box-shadow: 8px 12px 31px rgba(242, 244, 252, 0.05);
    -moz-box-shadow: 8px 12px 31px rgba(242, 244, 252, 0.05);
}

.rightSideBarContainer {
    border-radius: 15px 0px 0px 15px;
    position: absolute;
    top: 1px;
    right: 0;
    width: 300px;
    box-shadow: -12px 12px 31px rgba(237, 238, 242, 0.05);
    -webkit-box-shadow: -12px 12px 31px rgba(237, 238, 242, 0.05);
    -moz-box-shadow: -12px 12px 31px rgba(237, 238, 242, 0.05);
}

.sideBarTopContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;

}

.navBarRightItm-3-Container {
    display: flex;
    flex-direction: column;
}

.navBarRightItmWrap {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.rightBarUserDetailsContainer {
    display: flex;
    gap: 5px;
}

.rightBarQuestiondsAsked {
    color: #848079;
}

.navBarLeftLogoContainer {
    font-family: Kanit;
    font-size: 18px;
}

.sideBarSectionTopDivider {
    margin-top: 0;
}

.sideBarSectionContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sideBarSectionItmContainer {
    /* padding: 2px 6px; */
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: Pontano Sans;
    cursor: pointer;
}

.itemInList {
    padding-left: 20px !important;
}

.sideBarSetionItmContainer:hover {
    background: #494b50;
}

.siderBarSectionDropDown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.sideBarSectionIcon {
    color: #848079;
}

.sideBarSectionTitle {
    font-size: 14px;
    font-weight: 400;
    font-family: Kanit;
}

.sideBarSectionCategory {
    font-family: Kanit;
    font-size: 16px;
    font-weight: 400;
    color: #848079;
}

.dropdown-active {
    color: #FF8328 !important;
}

.itemContainerActive {
    display: flex !important;
}

.itemContainerDeactive {
    display: none !important;
    opacity: 0;
}

.sideBarItemsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}