.input-card-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    /* Adjust padding as needed */
    margin-bottom: 20px;

}


.filter {
    margin-left: -30px;
    height: 50px;
    width: 647px;
    background-color: #18191B;
    border: solid 1px #4B4D55;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 50px;
}



.btn {
    background-color: #2B2C31;
    font-size: 18px;
    font-weight: 30px;
    letter-spacing: 2px;
    height: 40px
}

.btn:hover {
    width: 158px;
    background-color: #4B4D55;
    color: #FF8328;
    border-radius: 30px;
}

input {
    width: 500px;
    padding: 20px;
    margin-right: 10px;
    border-radius: 30px;
    border: solid 0.5px #4B4D55;
    background-color: #2B2C31;
    color: #F9F5ED;
    transition: background-color 0.3s, color 0.3s;
    /* Add a smooth transition effect */
}

input:hover {
    background-color: #2B2C31;
    /* Change the background color on hover */
    color: #4B4D55;
    /* Change the text color on hover */
    border: solid 2px #FF8328;
}

.ImageUpload {
    background-image: url('file:///C:/Users/User/Downloads/uploading.png');
    /* Replace with your image URL */
    background-repeat: no-repeat;
    width: 32px;
    /* Set the width and height of your button image */
    height: 32px;
    background-color: transparent;
    margin-left: 20px;
}

button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;

}

button:hover {
    background-color: #0056b3;
}

.send {
    background-image: url('file:///C:/Users/User/Downloads/send%20(7).png');
    /* Replace with your image URL */
    background-repeat: no-repeat;
    width: 32px;
    /* Set the width and height of your button image */
    height: 32px;
    background-color: transparent;
    margin-left: 20px;
}

.send:hover {
    background-image: url('file:///C:/Users/User/Downloads/send%20(6).png');
    /* Replace with your image URL */
    background-repeat: no-repeat;
    width: 32px;
    /* Set the width and height of your button image */
    height: 32px;
    background-color: transparent;
}

.cards-container-wrapper {
    display: flex;
    float: left;
    margin-top: 80px;
    /* Adjust the margin-top as needed */
    height: 500px;
    /* You can adjust the height as needed */
    overflow: auto;
}

/* Change the color of the scrollbar */
.cards-container-wrapper::-webkit-scrollbar {
    width: 10px;
    /* Adjust the width as needed */
    background-color: #18191B;
    /* Change to the color you want */

}

/* Change the color of the scrollbar thumb */
.cards-container-wrapper::-webkit-scrollbar-thumb {
    background-color: #4B4D55;
    /* Change to the color you want */
    border-radius: 5px;
    /* Rounded corners for the scrollbar thumb */

}

.cards-container {
    padding-top: 20px;
    color: #F9F5ED;
    width: 647px;
    height: auto;
    margin: 20px auto 0;
    /* Center horizontally and add top margin, 0 for top margin */
    background: #212225;
    border-radius: 20px;
    border: solid 0.5px #4B4D55;

    margin-left: 44px;
}

.card {
    color: #F9F5ED;
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
}

.like-button {
    background: url('file:///C:/Users/User/Downloads/upload%20(2).png') no-repeat;
    width: 24px;
    /* Set the width and height of your button image */
    height: 24px;
    margin-left: 450px;
}

.dislike-button {
    background: url('file:///C:/Users/User/Downloads/down-arrow%20(8).png') no-repeat;
    width: 24px;
    /* Set the width and height of your button image */
    height: 24px;
    margin-left: 35px;
}

.comment-button {
    background: url('file:///C:/Users/User/Downloads/comment.png') no-repeat left center;
    /* Adjust the background-position as needed */
    width: 24px;
    /* Set the width and height of your button image */
    height: 24px;
    margin-left: 35px;
    margin-bottom: 20px;
}

.like-button:hover {
    background-color: transparent;
}

.dislike-button:hover {
    background-color: transparent;
}

.comment-button:hover {
    background-color: transparent;
}



.card-buttons {
    border-top: 1px solid #4B4D55;
    padding-top: 20px;
    margin-top: 27px;
}

.card-content {
    font-size: 18px;
    margin-top: 30px;
    text-align: left;
    margin-left: 40px;
}

/* filter */


.navBarRightContainerHome {
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 20px;
    margin-left: 20px;

}

.navBarRightItm-3-Container {
    display: flex;
    justify-content: center;
    gap: 8px;
    background: #26282C;
    padding: 8px 10px;
    border-radius: 12px;
    cursor: pointer;
}

/* Menu */

.Menu {
    float: left;
    width: 300px;
    height: 685px;
    margin-left: 20px;
    margin-right: 0px;
    border-right: solid 1px #4B4D55;
}


/* Account Section */

.AccountSec {
    background-image: url('Banner.png');
    background-size: 300px;
    background-repeat: no-repeat;
    float: right;
    background-color: #2B2C31;
    width: 300px;
    height: 270px;
    margin-right: 60px;
    margin-top: 30px;
    border-radius: 10px;
}

.LecturerSec {
    float: right;
    background-color: #2B2C31;
    width: 300px;
    height: 170px;
    margin-right: 60px;
    margin-top: 10px;
    border-radius: 10px;
}

.StudentSec {
    float: right;
    background-color: #2B2C31;
    width: 300px;
    height: 170px;
    margin-right: 60px;
    margin-top: 10px;
    border-radius: 10px;
}

.QuestionAsk {
    font-size: 12px;
    background-color: #FF8328;
    color: #2B2C31;
    text-align: left;
    padding-left: 30px;
    width: 270px;
    border-radius: 20px;
    margin-bottom: 12px;
    background-image: url('SearchQuest.png');
    background-repeat: no-repeat;
    background-position: 230px;
    background-size: 15px;
}

.QuestionAsk:hover {
    background-color: #4B4D55;
    color: #F9F5ED;
    text-align: left;
    padding-left: 30px;
    width: 270px;
    border-radius: 20px;
    margin-bottom: 12px;
    background-image: url('SearchQuest2.png');
    background-repeat: no-repeat;
    background-position: 230px;
    background-size: 15px;
}

.CreateCom {
    font-size: 12px;
    border: solid 2px #4B4D55;
    background-color: transparent;
    text-align: left;
    padding-left: 30px;
    width: 270px;
    height: 35px;
    border-radius: 20px;
    background-image: url('Plus2.png');
    background-repeat: no-repeat;
    background-position: 230px;
    background-size: 15px;
}

.CreateCom:hover {
    background-color: #18191B;
    color: #F9F5ED;
    text-align: left;
    padding-left: 30px;
    width: 270px;
    height: 35px;
    border-radius: 20px;
    background-image: url('Plus2.png');
    background-repeat: no-repeat;
    background-position: 230px;
    background-size: 15px;
}

.LecTitle {
    width: 300px;
    padding-bottom: 10px;
    font-size: 12px;
    color: #A3AABC;
    float: left;
    padding-left: 20px;
    padding-top: 15px;
    border-bottom: solid 1px #A3AABC;
    text-align: left;
}

.Student1 {
    margin-left: 8px;
    height: 62px;
    width: 280px;
    margin-top: 48px;
    border-bottom: solid 1px #4B4D55;
}

.Student2 {
    margin-left: 8px;
    height: 62px;
    width: 280px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.Lecture1 {
    margin-left: 8px;
    height: 62px;
    width: 280px;
    margin-top: 45.1px;
    border-bottom: solid 1px #4B4D55;
}

.Lecture2 {
    margin-left: 8px;
    height: 62px;
    width: 280px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.NameOfProduct {
    height: 15px;
    width: 200px;
    color: #F9F5ED;
    float: left;
    font-size: 15px;
    margin-left: -30px;
    margin-bottom: 5px;
}

.NameOfProduct2 {
    height: 15px;
    width: 200px;
    color: #F9F5ED;
    float: left;
    font-size: 15px;
    margin-left: -45px;
    margin-top: -13px;
    margin-bottom: 5px;
}

.LecEmail {
    color: #F9F5ED;
    font-size: 13px;
    float: left;
    margin-left: 15px;
}